# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Python files
[*.py]
indent_size = 2

# Ruby files
[*.rb]
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# Solidity files
[*.sol]
indent_size = 2

# JavaScript/TypeScript
[*.{js,jsx,ts,tsx}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
