[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/p256-verifier"]
	path = lib/p256-verifier
	url = https://github.com/daimo-eth/p256-verifier
[submodule "lib/account-abstraction"]
	path = lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "lib/FreshCryptoLib"]
	path = lib/FreshCryptoLib
	url = https://github.com/rdubois-crypto/FreshCryptoLib
