# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

/broadcast/DeployERC4337Factory.s.sol

# Docs
docs/

# Dotenv file
.env
.VSCodeCounter/

.certora_internal/